@layout('layouts/main')

@section('body')
<div class="container-fluid">
    @each(privacy in privacies)
    <p>{{ privacy.title }}</p>
    <p>{{ privacy.content }}</p>
    @endeach
</div>


<!-- container-fluid -->
@endsection